<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aamatra</key>
  <string>aamatra.glif</string>
  <key>aavowel</key>
  <string>aavowel.glif</string>
  <key>aimatra</key>
  <string>aimatra.glif</string>
  <key>aimatra_anusvara</key>
  <string>aimatra_anusvara.glif</string>
  <key>aivowel</key>
  <string>aivowel.glif</string>
  <key>anusvara</key>
  <string>anusvara.glif</string>
  <key>aumatra</key>
  <string>aumatra.glif</string>
  <key>auvowel</key>
  <string>auvowel.glif</string>
  <key>avowel</key>
  <string>avowel.glif</string>
  <key>avowel.chandrabindu</key>
  <string>avowel.chandrabindu.glif</string>
  <key>ba</key>
  <string>ba.glif</string>
  <key>ba.half</key>
  <string>ba.half.glif</string>
  <key>ba_aamatra</key>
  <string>ba_aamatra.glif</string>
  <key>ba_imatra</key>
  <string>ba_imatra.glif</string>
  <key>bha</key>
  <string>bha.glif</string>
  <key>bha.half</key>
  <string>bha.half.glif</string>
  <key>bha_aamatra</key>
  <string>bha_aamatra.glif</string>
  <key>bha_imatra</key>
  <string>bha_imatra.glif</string>
  <key>ca</key>
  <string>ca.glif</string>
  <key>ca.half</key>
  <string>ca.half.glif</string>
  <key>ca_aamatra</key>
  <string>ca_aamatra.glif</string>
  <key>ca_imatra</key>
  <string>ca_imatra.glif</string>
  <key>cha</key>
  <string>cha.glif</string>
  <key>cha.half</key>
  <string>cha.half.glif</string>
  <key>cha_aamatra</key>
  <string>cha_aamatra.glif</string>
  <key>cha_imatra</key>
  <string>cha_imatra.glif</string>
  <key>da</key>
  <string>da.glif</string>
  <key>da.half</key>
  <string>da.half.glif</string>
  <key>da_aamatra</key>
  <string>da_aamatra.glif</string>
  <key>da_imatra</key>
  <string>da_imatra.glif</string>
  <key>dda</key>
  <string>dda.glif</string>
  <key>dda.half</key>
  <string>dda.half.glif</string>
  <key>dda_aamatra</key>
  <string>dda_aamatra.glif</string>
  <key>dda_imatra</key>
  <string>dda_imatra.glif</string>
  <key>ddha</key>
  <string>ddha.glif</string>
  <key>ddha.half</key>
  <string>ddha.half.glif</string>
  <key>ddha_aamatra</key>
  <string>ddha_aamatra.glif</string>
  <key>ddha_imatra</key>
  <string>ddha_imatra.glif</string>
  <key>dha</key>
  <string>dha.glif</string>
  <key>dha.half</key>
  <string>dha.half.glif</string>
  <key>dha_aamatra</key>
  <string>dha_aamatra.glif</string>
  <key>dha_imatra</key>
  <string>dha_imatra.glif</string>
  <key>eematra</key>
  <string>eematra.glif</string>
  <key>eematra.short</key>
  <string>eematra.short.glif</string>
  <key>eematra_anusvara</key>
  <string>eematra_anusvara.glif</string>
  <key>eematra_anusvara.short</key>
  <string>eematra_anusvara.short.glif</string>
  <key>eevowel</key>
  <string>eevowel.glif</string>
  <key>eevowel.short</key>
  <string>eevowel.short.glif</string>
  <key>eightgong</key>
  <string>eightgong.glif</string>
  <key>fivegong</key>
  <string>fivegong.glif</string>
  <key>fourgong</key>
  <string>fourgong.glif</string>
  <key>ga</key>
  <string>ga.glif</string>
  <key>ga.half</key>
  <string>ga.half.glif</string>
  <key>ga_aamatra</key>
  <string>ga_aamatra.glif</string>
  <key>ga_imatra</key>
  <string>ga_imatra.glif</string>
  <key>gha</key>
  <string>gha.glif</string>
  <key>gha.half</key>
  <string>gha.half.glif</string>
  <key>gha_aamatra</key>
  <string>gha_aamatra.glif</string>
  <key>gha_imatra</key>
  <string>gha_imatra.glif</string>
  <key>ha</key>
  <string>ha.glif</string>
  <key>ha.half</key>
  <string>ha.half.glif</string>
  <key>ha_aamatra</key>
  <string>ha_aamatra.glif</string>
  <key>ha_imatra</key>
  <string>ha_imatra.glif</string>
  <key>iimatra</key>
  <string>iimatra.glif</string>
  <key>iimatra_anusvara</key>
  <string>iimatra_anusvara.glif</string>
  <key>iivowel</key>
  <string>iivowel.glif</string>
  <key>imatra</key>
  <string>imatra.glif</string>
  <key>imatra.short</key>
  <string>imatra.short.glif</string>
  <key>ivowel</key>
  <string>ivowel.glif</string>
  <key>ja</key>
  <string>ja.glif</string>
  <key>ja.half</key>
  <string>ja.half.glif</string>
  <key>ja_aamatra</key>
  <string>ja_aamatra.glif</string>
  <key>ja_imatra</key>
  <string>ja_imatra.glif</string>
  <key>jha</key>
  <string>jha.glif</string>
  <key>jha.half</key>
  <string>jha.half.glif</string>
  <key>jha_aamatra</key>
  <string>jha_aamatra.glif</string>
  <key>jha_imatra</key>
  <string>jha_imatra.glif</string>
  <key>ka</key>
  <string>ka.glif</string>
  <key>ka.half</key>
  <string>ka.half.glif</string>
  <key>ka_aamatra</key>
  <string>ka_aamatra.glif</string>
  <key>ka_imatra</key>
  <string>ka_imatra.glif</string>
  <key>ka_virama_jha</key>
  <string>ka_virama_jha.glif</string>
  <key>ka_virama_sa</key>
  <string>ka_virama_sa.glif</string>
  <key>kha</key>
  <string>kha.glif</string>
  <key>kha.half</key>
  <string>kha.half.glif</string>
  <key>kha_aamatra</key>
  <string>kha_aamatra.glif</string>
  <key>kha_imatra</key>
  <string>kha_imatra.glif</string>
  <key>la</key>
  <string>la.glif</string>
  <key>la.dot</key>
  <string>la.dot.glif</string>
  <key>la.half</key>
  <string>la.half.glif</string>
  <key>la.half.dot</key>
  <string>la.half.dot.glif</string>
  <key>la_aamatra</key>
  <string>la_aamatra.glif</string>
  <key>la_imatra</key>
  <string>la_imatra.glif</string>
  <key>lla</key>
  <string>lla.glif</string>
  <key>lla.half</key>
  <string>lla.half.glif</string>
  <key>lla_aamatra</key>
  <string>lla_aamatra.glif</string>
  <key>lla_imatra</key>
  <string>lla_imatra.glif</string>
  <key>ma</key>
  <string>ma.glif</string>
  <key>ma.half</key>
  <string>ma.half.glif</string>
  <key>ma_aamatra</key>
  <string>ma_aamatra.glif</string>
  <key>ma_imatra</key>
  <string>ma_imatra.glif</string>
  <key>na</key>
  <string>na.glif</string>
  <key>na.half</key>
  <string>na.half.glif</string>
  <key>na_aamatra</key>
  <string>na_aamatra.glif</string>
  <key>na_imatra</key>
  <string>na_imatra.glif</string>
  <key>nga</key>
  <string>nga.glif</string>
  <key>nga.dot</key>
  <string>nga.dot.glif</string>
  <key>nga.half</key>
  <string>nga.half.glif</string>
  <key>nga.half.dot</key>
  <string>nga.half.dot.glif</string>
  <key>nga_aamatra</key>
  <string>nga_aamatra.glif</string>
  <key>nga_imatra</key>
  <string>nga_imatra.glif</string>
  <key>ninegong</key>
  <string>ninegong.glif</string>
  <key>om</key>
  <string>om.glif</string>
  <key>onegong</key>
  <string>onegong.glif</string>
  <key>oomatra</key>
  <string>oomatra.glif</string>
  <key>oomatra.short</key>
  <string>oomatra.short.glif</string>
  <key>oomatra_anusvara.short</key>
  <string>oomatra_anusvara.short.glif</string>
  <key>oovowel</key>
  <string>oovowel.glif</string>
  <key>oovowel.short</key>
  <string>oovowel.short.glif</string>
  <key>pa</key>
  <string>pa.glif</string>
  <key>pa.half</key>
  <string>pa.half.glif</string>
  <key>pa_aamatra</key>
  <string>pa_aamatra.glif</string>
  <key>pa_imatra</key>
  <string>pa_imatra.glif</string>
  <key>pha</key>
  <string>pha.glif</string>
  <key>pha.half</key>
  <string>pha.half.glif</string>
  <key>pha_aamatra</key>
  <string>pha_aamatra.glif</string>
  <key>pha_imatra</key>
  <string>pha_imatra.glif</string>
  <key>ra</key>
  <string>ra.glif</string>
  <key>ra.dot</key>
  <string>ra.dot.glif</string>
  <key>ra.half</key>
  <string>ra.half.glif</string>
  <key>ra.half.dot</key>
  <string>ra.half.dot.glif</string>
  <key>ra_aamatra</key>
  <string>ra_aamatra.glif</string>
  <key>ra_imatra</key>
  <string>ra_imatra.glif</string>
  <key>ra_umatra.dot</key>
  <string>ra_umatra.dot.glif</string>
  <key>ra_uumatra.dot</key>
  <string>ra_uumatra.dot.glif</string>
  <key>sa</key>
  <string>sa.glif</string>
  <key>sa.2dots</key>
  <string>sa.2dots.glif</string>
  <key>sa.dot</key>
  <string>sa.dot.glif</string>
  <key>sa.half</key>
  <string>sa.half.glif</string>
  <key>sa.half.2dots</key>
  <string>sa.half.2dots.glif</string>
  <key>sa.half.dot</key>
  <string>sa.half.dot.glif</string>
  <key>sa_aamatra</key>
  <string>sa_aamatra.glif</string>
  <key>sa_imatra</key>
  <string>sa_imatra.glif</string>
  <key>sevengong</key>
  <string>sevengong.glif</string>
  <key>sixgong</key>
  <string>sixgong.glif</string>
  <key>ta</key>
  <string>ta.glif</string>
  <key>ta.half</key>
  <string>ta.half.glif</string>
  <key>ta_aamatra</key>
  <string>ta_aamatra.glif</string>
  <key>ta_imatra</key>
  <string>ta_imatra.glif</string>
  <key>tha</key>
  <string>tha.glif</string>
  <key>tha.half</key>
  <string>tha.half.glif</string>
  <key>tha_aamatra</key>
  <string>tha_aamatra.glif</string>
  <key>tha_imatra</key>
  <string>tha_imatra.glif</string>
  <key>threegong</key>
  <string>threegong.glif</string>
  <key>tta</key>
  <string>tta.glif</string>
  <key>tta.half</key>
  <string>tta.half.glif</string>
  <key>tta_aamatra</key>
  <string>tta_aamatra.glif</string>
  <key>tta_imatra</key>
  <string>tta_imatra.glif</string>
  <key>ttha</key>
  <string>ttha.glif</string>
  <key>ttha.half</key>
  <string>ttha.half.glif</string>
  <key>ttha_aamatra</key>
  <string>ttha_aamatra.glif</string>
  <key>ttha_imatra</key>
  <string>ttha_imatra.glif</string>
  <key>twogong</key>
  <string>twogong.glif</string>
  <key>umatra</key>
  <string>umatra.glif</string>
  <key>uumatra</key>
  <string>uumatra.glif</string>
  <key>uuvowel</key>
  <string>uuvowel.glif</string>
  <key>uvowel</key>
  <string>uvowel.glif</string>
  <key>va</key>
  <string>va.glif</string>
  <key>va.half</key>
  <string>va.half.glif</string>
  <key>va_aamatra</key>
  <string>va_aamatra.glif</string>
  <key>va_imatra</key>
  <string>va_imatra.glif</string>
  <key>virama</key>
  <string>virama.glif</string>
  <key>virama.alt</key>
  <string>virama.alt.glif</string>
  <key>visarga</key>
  <string>visarga.glif</string>
  <key>ya</key>
  <string>ya.glif</string>
  <key>ya.half</key>
  <string>ya.half.glif</string>
  <key>ya_aamatra</key>
  <string>ya_aamatra.glif</string>
  <key>ya_imatra</key>
  <string>ya_imatra.glif</string>
  <key>zerogong</key>
  <string>zerogong.glif</string>
  <key>zwj.visible</key>
  <string>zwj.visible.glif</string>
  <key>zwnj.visible</key>
  <string>zwnj.visible.glif</string>
</dict>
</plist>
