<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohm</key>
  <string>O_hm.glif</string>
  <key>Omegagreek</key>
  <string>O_megagreek.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>VS1</key>
  <string>V_S_1.glif</string>
  <key>VS10</key>
  <string>V_S_10.glif</string>
  <key>VS11</key>
  <string>V_S_11.glif</string>
  <key>VS12</key>
  <string>V_S_12.glif</string>
  <key>VS13</key>
  <string>V_S_13.glif</string>
  <key>VS14</key>
  <string>V_S_14.glif</string>
  <key>VS15</key>
  <string>V_S_15.glif</string>
  <key>VS16</key>
  <string>V_S_16.glif</string>
  <key>VS2</key>
  <string>V_S_2.glif</string>
  <key>VS3</key>
  <string>V_S_3.glif</string>
  <key>VS4</key>
  <string>V_S_4.glif</string>
  <key>VS5</key>
  <string>V_S_5.glif</string>
  <key>VS6</key>
  <string>V_S_6.glif</string>
  <key>VS7</key>
  <string>V_S_7.glif</string>
  <key>VS8</key>
  <string>V_S_8.glif</string>
  <key>VS9</key>
  <string>V_S_9.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>_dot</key>
  <string>_dot.glif</string>
  <key>_imatra-hook</key>
  <string>_imatra-hook.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.sups</key>
  <string>a.sups.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>aamatra</key>
  <string>aamatra.glif</string>
  <key>aavowel</key>
  <string>aavowel.glif</string>
  <key>abbreviationsign</key>
  <string>abbreviationsign.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecmb</key>
  <string>acutecmb.glif</string>
  <key>acutecmb.cap</key>
  <string>acutecmb.cap.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>aimatra</key>
  <string>aimatra.glif</string>
  <key>aimatra_anusvara</key>
  <string>aimatra_anusvara.glif</string>
  <key>aivowel</key>
  <string>aivowel.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>anusvara</key>
  <string>anusvara.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>aumatra</key>
  <string>aumatra.glif</string>
  <key>auvowel</key>
  <string>auvowel.glif</string>
  <key>avowel</key>
  <string>avowel.glif</string>
  <key>avowel.chandrabindu</key>
  <string>avowel.chandrabindu.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>ba</key>
  <string>ba.glif</string>
  <key>ba.half</key>
  <string>ba.half.glif</string>
  <key>ba_aamatra</key>
  <string>ba_aamatra.glif</string>
  <key>ba_imatra</key>
  <string>ba_imatra.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bha</key>
  <string>bha.glif</string>
  <key>bha.half</key>
  <string>bha.half.glif</string>
  <key>bha_aamatra</key>
  <string>bha_aamatra.glif</string>
  <key>bha_imatra</key>
  <string>bha_imatra.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brevecmb</key>
  <string>brevecmb.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>ca</key>
  <string>ca.glif</string>
  <key>ca.half</key>
  <string>ca.half.glif</string>
  <key>ca_aamatra</key>
  <string>ca_aamatra.glif</string>
  <key>ca_imatra</key>
  <string>ca_imatra.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caroncmb</key>
  <string>caroncmb.glif</string>
  <key>caroncmb.cap</key>
  <string>caroncmb.cap.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacmb</key>
  <string>cedillacmb.glif</string>
  <key>cedillacmb.cap</key>
  <string>cedillacmb.cap.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>cgj</key>
  <string>cgj.glif</string>
  <key>cha</key>
  <string>cha.glif</string>
  <key>cha.half</key>
  <string>cha.half.glif</string>
  <key>cha_aamatra</key>
  <string>cha_aamatra.glif</string>
  <key>cha_imatra</key>
  <string>cha_imatra.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcmb</key>
  <string>circumflexcmb.glif</string>
  <key>circumflexcmb.cap</key>
  <string>circumflexcmb.cap.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>da</key>
  <string>da.glif</string>
  <key>da.half</key>
  <string>da.half.glif</string>
  <key>da_aamatra</key>
  <string>da_aamatra.glif</string>
  <key>da_imatra</key>
  <string>da_imatra.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>danda</key>
  <string>danda.glif</string>
  <key>dandadbl</key>
  <string>dandadbl.glif</string>
  <key>dda</key>
  <string>dda.glif</string>
  <key>dda.half</key>
  <string>dda.half.glif</string>
  <key>dda_aamatra</key>
  <string>dda_aamatra.glif</string>
  <key>dda_aimatra</key>
  <string>dda_aimatra.glif</string>
  <key>dda_aumatra</key>
  <string>dda_aumatra.glif</string>
  <key>dda_eematra</key>
  <string>dda_eematra.glif</string>
  <key>dda_imatra</key>
  <string>dda_imatra.glif</string>
  <key>ddha</key>
  <string>ddha.glif</string>
  <key>ddha.half</key>
  <string>ddha.half.glif</string>
  <key>ddha_aamatra</key>
  <string>ddha_aamatra.glif</string>
  <key>ddha_imatra</key>
  <string>ddha_imatra.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dha</key>
  <string>dha.glif</string>
  <key>dha.half</key>
  <string>dha.half.glif</string>
  <key>dha_aamatra</key>
  <string>dha_aamatra.glif</string>
  <key>dha_imatra</key>
  <string>dha_imatra.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscmb</key>
  <string>dieresiscmb.glif</string>
  <key>dieresiscmb.cap</key>
  <string>dieresiscmb.cap.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>divisionslash</key>
  <string>divisionslash.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccentcmb</key>
  <string>dotaccentcmb.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dottedcircle</key>
  <string>dottedcircle.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>eematra</key>
  <string>eematra.glif</string>
  <key>eematra.short</key>
  <string>eematra.short.glif</string>
  <key>eematra_anusvara</key>
  <string>eematra_anusvara.glif</string>
  <key>eematra_anusvara.short</key>
  <string>eematra_anusvara.short.glif</string>
  <key>eevowel</key>
  <string>eevowel.glif</string>
  <key>eevowel.short</key>
  <string>eevowel.short.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eightgong</key>
  <string>eightgong.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fivegong</key>
  <string>fivegong.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.dnom</key>
  <string>four.dnom.glif</string>
  <key>fourgong</key>
  <string>fourgong.glif</string>
  <key>fourperemspace</key>
  <string>fourperemspace.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>ga</key>
  <string>ga.glif</string>
  <key>ga.half</key>
  <string>ga.half.glif</string>
  <key>ga_aamatra</key>
  <string>ga_aamatra.glif</string>
  <key>ga_imatra</key>
  <string>ga_imatra.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>gha</key>
  <string>gha.glif</string>
  <key>gha.half</key>
  <string>gha.half.glif</string>
  <key>gha_aamatra</key>
  <string>gha_aamatra.glif</string>
  <key>gha_aimatra</key>
  <string>gha_aimatra.glif</string>
  <key>gha_eematra</key>
  <string>gha_eematra.glif</string>
  <key>gha_imatra</key>
  <string>gha_imatra.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecmb</key>
  <string>gravecmb.glif</string>
  <key>gravecmb.cap</key>
  <string>gravecmb.cap.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>ha</key>
  <string>ha.glif</string>
  <key>ha.half</key>
  <string>ha.half.glif</string>
  <key>ha_aamatra</key>
  <string>ha_aamatra.glif</string>
  <key>ha_imatra</key>
  <string>ha_imatra.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hungarumlautcmb</key>
  <string>hungarumlautcmb.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphenationpoint</key>
  <string>hyphenationpoint.glif</string>
  <key>hyphentwo</key>
  <string>hyphentwo.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>iimatra</key>
  <string>iimatra.glif</string>
  <key>iimatra_anusvara</key>
  <string>iimatra_anusvara.glif</string>
  <key>iivowel</key>
  <string>iivowel.glif</string>
  <key>imatra</key>
  <string>imatra.glif</string>
  <key>imatra.short</key>
  <string>imatra.short.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>inrupee</key>
  <string>inrupee.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>ivowel</key>
  <string>ivowel.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>ja</key>
  <string>ja.glif</string>
  <key>ja.half</key>
  <string>ja.half.glif</string>
  <key>ja_aamatra</key>
  <string>ja_aamatra.glif</string>
  <key>ja_imatra</key>
  <string>ja_imatra.glif</string>
  <key>jha</key>
  <string>jha.glif</string>
  <key>jha.half</key>
  <string>jha.half.glif</string>
  <key>jha_aamatra</key>
  <string>jha_aamatra.glif</string>
  <key>jha_imatra</key>
  <string>jha_imatra.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>ka</key>
  <string>ka.glif</string>
  <key>ka.half</key>
  <string>ka.half.glif</string>
  <key>ka_aamatra</key>
  <string>ka_aamatra.glif</string>
  <key>ka_imatra</key>
  <string>ka_imatra.glif</string>
  <key>ka_virama_jha</key>
  <string>ka_virama_jha.glif</string>
  <key>ka_virama_sa</key>
  <string>ka_virama_sa.glif</string>
  <key>kha</key>
  <string>kha.glif</string>
  <key>kha.half</key>
  <string>kha.half.glif</string>
  <key>kha_aamatra</key>
  <string>kha_aamatra.glif</string>
  <key>kha_imatra</key>
  <string>kha_imatra.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>la</key>
  <string>la.glif</string>
  <key>la.dot</key>
  <string>la.dot.glif</string>
  <key>la.half</key>
  <string>la.half.glif</string>
  <key>la.half.dot</key>
  <string>la.half.dot.glif</string>
  <key>la_aamatra</key>
  <string>la_aamatra.glif</string>
  <key>la_imatra</key>
  <string>la_imatra.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lineseparator</key>
  <string>lineseparator.glif</string>
  <key>lla</key>
  <string>lla.glif</string>
  <key>lla.half</key>
  <string>lla.half.glif</string>
  <key>lla_aamatra</key>
  <string>lla_aamatra.glif</string>
  <key>lla_imatra</key>
  <string>lla_imatra.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>ma</key>
  <string>ma.glif</string>
  <key>ma.half</key>
  <string>ma.half.glif</string>
  <key>ma_aamatra</key>
  <string>ma_aamatra.glif</string>
  <key>ma_imatra</key>
  <string>ma_imatra.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macroncmb</key>
  <string>macroncmb.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>na</key>
  <string>na.glif</string>
  <key>na.half</key>
  <string>na.half.glif</string>
  <key>na_aamatra</key>
  <string>na_aamatra.glif</string>
  <key>na_imatra</key>
  <string>na_imatra.glif</string>
  <key>nbhyphen</key>
  <string>nbhyphen.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nga</key>
  <string>nga.glif</string>
  <key>nga.dot</key>
  <string>nga.dot.glif</string>
  <key>nga.half</key>
  <string>nga.half.glif</string>
  <key>nga.half.dot</key>
  <string>nga.half.dot.glif</string>
  <key>nga_aamatra</key>
  <string>nga_aamatra.glif</string>
  <key>nga_aimatra</key>
  <string>nga_aimatra.glif</string>
  <key>nga_eematra</key>
  <string>nga_eematra.glif</string>
  <key>nga_imatra</key>
  <string>nga_imatra.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>ninegong</key>
  <string>ninegong.glif</string>
  <key>nnbspace</key>
  <string>nnbspace.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o.sups</key>
  <string>o.sups.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>objectReplacementCharacter</key>
  <string>objectR_eplacementC_haracter.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ogonekcmb</key>
  <string>ogonekcmb.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>om</key>
  <string>om.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.dnom</key>
  <string>one.dnom.glif</string>
  <key>onegong</key>
  <string>onegong.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>oomatra</key>
  <string>oomatra.glif</string>
  <key>oomatra.short</key>
  <string>oomatra.short.glif</string>
  <key>oomatra_anusvara.short</key>
  <string>oomatra_anusvara.short.glif</string>
  <key>oovowel</key>
  <string>oovowel.glif</string>
  <key>oovowel.short</key>
  <string>oovowel.short.glif</string>
  <key>openbox</key>
  <string>openbox.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>pa</key>
  <string>pa.glif</string>
  <key>pa.half</key>
  <string>pa.half.glif</string>
  <key>pa_aamatra</key>
  <string>pa_aamatra.glif</string>
  <key>pa_imatra</key>
  <string>pa_imatra.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>paragraphseparator</key>
  <string>paragraphseparator.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pha</key>
  <string>pha.glif</string>
  <key>pha.half</key>
  <string>pha.half.glif</string>
  <key>pha_aamatra</key>
  <string>pha_aamatra.glif</string>
  <key>pha_imatra</key>
  <string>pha_imatra.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>ra</key>
  <string>ra.glif</string>
  <key>ra.dot</key>
  <string>ra.dot.glif</string>
  <key>ra.half</key>
  <string>ra.half.glif</string>
  <key>ra.half.dot</key>
  <string>ra.half.dot.glif</string>
  <key>ra_aamatra</key>
  <string>ra_aamatra.glif</string>
  <key>ra_imatra</key>
  <string>ra_imatra.glif</string>
  <key>ra_umatra.dot</key>
  <string>ra_umatra.dot.glif</string>
  <key>ra_uumatra.dot</key>
  <string>ra_uumatra.dot.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>replacementCharacter</key>
  <string>replacementC_haracter.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringcmb</key>
  <string>ringcmb.glif</string>
  <key>ringcmb.cap</key>
  <string>ringcmb.cap.glif</string>
  <key>rupee</key>
  <string>rupee.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sa</key>
  <string>sa.glif</string>
  <key>sa.2dots</key>
  <string>sa.2dots.glif</string>
  <key>sa.dot</key>
  <string>sa.dot.glif</string>
  <key>sa.half</key>
  <string>sa.half.glif</string>
  <key>sa.half.2dots</key>
  <string>sa.half.2dots.glif</string>
  <key>sa.half.dot</key>
  <string>sa.half.dot.glif</string>
  <key>sa_aamatra</key>
  <string>sa_aamatra.glif</string>
  <key>sa_imatra</key>
  <string>sa_imatra.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>sevengong</key>
  <string>sevengong.glif</string>
  <key>sidebearingleft</key>
  <string>sidebearingleft.glif</string>
  <key>sidebearingright</key>
  <string>sidebearingright.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sixgong</key>
  <string>sixgong.glif</string>
  <key>sixperemspace</key>
  <string>sixperemspace.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>ta</key>
  <string>ta.glif</string>
  <key>ta.half</key>
  <string>ta.half.glif</string>
  <key>ta_aamatra</key>
  <string>ta_aamatra.glif</string>
  <key>ta_imatra</key>
  <string>ta_imatra.glif</string>
  <key>tha</key>
  <string>tha.glif</string>
  <key>tha.half</key>
  <string>tha.half.glif</string>
  <key>tha_aamatra</key>
  <string>tha_aamatra.glif</string>
  <key>tha_imatra</key>
  <string>tha_imatra.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.dnom</key>
  <string>three.dnom.glif</string>
  <key>threegong</key>
  <string>threegong.glif</string>
  <key>threeperemspace</key>
  <string>threeperemspace.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecmb</key>
  <string>tildecmb.glif</string>
  <key>tildecmb.cap</key>
  <string>tildecmb.cap.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tta</key>
  <string>tta.glif</string>
  <key>tta.half</key>
  <string>tta.half.glif</string>
  <key>tta_aamatra</key>
  <string>tta_aamatra.glif</string>
  <key>tta_imatra</key>
  <string>tta_imatra.glif</string>
  <key>ttha</key>
  <string>ttha.glif</string>
  <key>ttha.half</key>
  <string>ttha.half.glif</string>
  <key>ttha_aamatra</key>
  <string>ttha_aamatra.glif</string>
  <key>ttha_imatra</key>
  <string>ttha_imatra.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.dnom</key>
  <string>two.dnom.glif</string>
  <key>twogong</key>
  <string>twogong.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>umatra</key>
  <string>umatra.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uumatra</key>
  <string>uumatra.glif</string>
  <key>uuvowel</key>
  <string>uuvowel.glif</string>
  <key>uvowel</key>
  <string>uvowel.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>va</key>
  <string>va.glif</string>
  <key>va.half</key>
  <string>va.half.glif</string>
  <key>va_aamatra</key>
  <string>va_aamatra.glif</string>
  <key>va_imatra</key>
  <string>va_imatra.glif</string>
  <key>virama</key>
  <string>virama.glif</string>
  <key>virama.alt</key>
  <string>virama.alt.glif</string>
  <key>visarga</key>
  <string>visarga.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wj</key>
  <string>wj.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ya</key>
  <string>ya.glif</string>
  <key>ya.half</key>
  <string>ya.half.glif</string>
  <key>ya_aamatra</key>
  <string>ya_aamatra.glif</string>
  <key>ya_imatra</key>
  <string>ya_imatra.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.dnom</key>
  <string>zero.dnom.glif</string>
  <key>zerogong</key>
  <string>zerogong.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnbsp</key>
  <string>zwnbsp.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
  <key>zwnj.visible</key>
  <string>zwnj.visible.glif</string>
  <key>zwsp</key>
  <string>zwsp.glif</string>
</dict>
</plist>
