<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u0964</key>
  <string>u0964.glif</string>
  <key>u0965</key>
  <string>u0965.glif</string>
  <key>u11D60</key>
  <string>u11D_60.glif</string>
  <key>u11D60.chandrabindu</key>
  <string>u11D_60.chandrabindu.glif</string>
  <key>u11D61</key>
  <string>u11D_61.glif</string>
  <key>u11D62</key>
  <string>u11D_62.glif</string>
  <key>u11D63</key>
  <string>u11D_63.glif</string>
  <key>u11D64</key>
  <string>u11D_64.glif</string>
  <key>u11D65</key>
  <string>u11D_65.glif</string>
  <key>u11D67</key>
  <string>u11D_67.glif</string>
  <key>u11D67.short</key>
  <string>u11D_67.short.glif</string>
  <key>u11D68</key>
  <string>u11D_68.glif</string>
  <key>u11D6A</key>
  <string>u11D_6A_.glif</string>
  <key>u11D6A.short</key>
  <string>u11D_6A_.short.glif</string>
  <key>u11D6B</key>
  <string>u11D_6B_.glif</string>
  <key>u11D6C</key>
  <string>u11D_6C_.glif</string>
  <key>u11D6C.half</key>
  <string>u11D_6C_.half.glif</string>
  <key>u11D6C_u11D8A</key>
  <string>u11D_6C__u11D_8A_.glif</string>
  <key>u11D6C_u11D8B</key>
  <string>u11D_6C__u11D_8B_.glif</string>
  <key>u11D6D</key>
  <string>u11D_6D_.glif</string>
  <key>u11D6D.half</key>
  <string>u11D_6D_.half.glif</string>
  <key>u11D6D_u11D8A</key>
  <string>u11D_6D__u11D_8A_.glif</string>
  <key>u11D6D_u11D8B</key>
  <string>u11D_6D__u11D_8B_.glif</string>
  <key>u11D6E</key>
  <string>u11D_6E_.glif</string>
  <key>u11D6E.half</key>
  <string>u11D_6E_.half.glif</string>
  <key>u11D6E_u11D8A</key>
  <string>u11D_6E__u11D_8A_.glif</string>
  <key>u11D6E_u11D8B</key>
  <string>u11D_6E__u11D_8B_.glif</string>
  <key>u11D6F</key>
  <string>u11D_6F_.glif</string>
  <key>u11D6F.half</key>
  <string>u11D_6F_.half.glif</string>
  <key>u11D6F_u11D8A</key>
  <string>u11D_6F__u11D_8A_.glif</string>
  <key>u11D6F_u11D8B</key>
  <string>u11D_6F__u11D_8B_.glif</string>
  <key>u11D70</key>
  <string>u11D_70.glif</string>
  <key>u11D70.half</key>
  <string>u11D_70.half.glif</string>
  <key>u11D70_u11D8A</key>
  <string>u11D_70_u11D_8A_.glif</string>
  <key>u11D70_u11D8B</key>
  <string>u11D_70_u11D_8B_.glif</string>
  <key>u11D71</key>
  <string>u11D_71.glif</string>
  <key>u11D71.half</key>
  <string>u11D_71.half.glif</string>
  <key>u11D71_u11D8A</key>
  <string>u11D_71_u11D_8A_.glif</string>
  <key>u11D71_u11D8B</key>
  <string>u11D_71_u11D_8B_.glif</string>
  <key>u11D71_u11D97_u11D81</key>
  <string>u11D_71_u11D_97_u11D_81.glif</string>
  <key>u11D71_u11D97_u11D89</key>
  <string>u11D_71_u11D_97_u11D_89.glif</string>
  <key>u11D72</key>
  <string>u11D_72.glif</string>
  <key>u11D72.half</key>
  <string>u11D_72.half.glif</string>
  <key>u11D72_u11D8A</key>
  <string>u11D_72_u11D_8A_.glif</string>
  <key>u11D72_u11D8B</key>
  <string>u11D_72_u11D_8B_.glif</string>
  <key>u11D73</key>
  <string>u11D_73.glif</string>
  <key>u11D73.half</key>
  <string>u11D_73.half.glif</string>
  <key>u11D73_u11D8A</key>
  <string>u11D_73_u11D_8A_.glif</string>
  <key>u11D73_u11D8B</key>
  <string>u11D_73_u11D_8B_.glif</string>
  <key>u11D74</key>
  <string>u11D_74.glif</string>
  <key>u11D74.half</key>
  <string>u11D_74.half.glif</string>
  <key>u11D74_u11D8A</key>
  <string>u11D_74_u11D_8A_.glif</string>
  <key>u11D74_u11D8B</key>
  <string>u11D_74_u11D_8B_.glif</string>
  <key>u11D75</key>
  <string>u11D_75.glif</string>
  <key>u11D75.dot</key>
  <string>u11D_75.dot.glif</string>
  <key>u11D75.half</key>
  <string>u11D_75.half.glif</string>
  <key>u11D75.half.dot</key>
  <string>u11D_75.half.dot.glif</string>
  <key>u11D75_u11D8A</key>
  <string>u11D_75_u11D_8A_.glif</string>
  <key>u11D75_u11D8B</key>
  <string>u11D_75_u11D_8B_.glif</string>
  <key>u11D76</key>
  <string>u11D_76.glif</string>
  <key>u11D76.half</key>
  <string>u11D_76.half.glif</string>
  <key>u11D76_u11D8A</key>
  <string>u11D_76_u11D_8A_.glif</string>
  <key>u11D76_u11D8B</key>
  <string>u11D_76_u11D_8B_.glif</string>
  <key>u11D77</key>
  <string>u11D_77.glif</string>
  <key>u11D77.half</key>
  <string>u11D_77.half.glif</string>
  <key>u11D77_u11D8A</key>
  <string>u11D_77_u11D_8A_.glif</string>
  <key>u11D77_u11D8B</key>
  <string>u11D_77_u11D_8B_.glif</string>
  <key>u11D78</key>
  <string>u11D_78.glif</string>
  <key>u11D78.half</key>
  <string>u11D_78.half.glif</string>
  <key>u11D78_u11D8A</key>
  <string>u11D_78_u11D_8A_.glif</string>
  <key>u11D78_u11D8B</key>
  <string>u11D_78_u11D_8B_.glif</string>
  <key>u11D79</key>
  <string>u11D_79.glif</string>
  <key>u11D79.half</key>
  <string>u11D_79.half.glif</string>
  <key>u11D79_u11D8A</key>
  <string>u11D_79_u11D_8A_.glif</string>
  <key>u11D79_u11D8B</key>
  <string>u11D_79_u11D_8B_.glif</string>
  <key>u11D7A</key>
  <string>u11D_7A_.glif</string>
  <key>u11D7A.half</key>
  <string>u11D_7A_.half.glif</string>
  <key>u11D7A_u11D8A</key>
  <string>u11D_7A__u11D_8A_.glif</string>
  <key>u11D7A_u11D8B</key>
  <string>u11D_7A__u11D_8B_.glif</string>
  <key>u11D7B</key>
  <string>u11D_7B_.glif</string>
  <key>u11D7B.half</key>
  <string>u11D_7B_.half.glif</string>
  <key>u11D7B_u11D8A</key>
  <string>u11D_7B__u11D_8A_.glif</string>
  <key>u11D7B_u11D8B</key>
  <string>u11D_7B__u11D_8B_.glif</string>
  <key>u11D7C</key>
  <string>u11D_7C_.glif</string>
  <key>u11D7C.half</key>
  <string>u11D_7C_.half.glif</string>
  <key>u11D7C_u11D8A</key>
  <string>u11D_7C__u11D_8A_.glif</string>
  <key>u11D7C_u11D8B</key>
  <string>u11D_7C__u11D_8B_.glif</string>
  <key>u11D7D</key>
  <string>u11D_7D_.glif</string>
  <key>u11D7D.half</key>
  <string>u11D_7D_.half.glif</string>
  <key>u11D7D_u11D8A</key>
  <string>u11D_7D__u11D_8A_.glif</string>
  <key>u11D7D_u11D8B</key>
  <string>u11D_7D__u11D_8B_.glif</string>
  <key>u11D7E</key>
  <string>u11D_7E_.glif</string>
  <key>u11D7E.half</key>
  <string>u11D_7E_.half.glif</string>
  <key>u11D7E_u11D8A</key>
  <string>u11D_7E__u11D_8A_.glif</string>
  <key>u11D7E_u11D8B</key>
  <string>u11D_7E__u11D_8B_.glif</string>
  <key>u11D7F</key>
  <string>u11D_7F_.glif</string>
  <key>u11D7F.half</key>
  <string>u11D_7F_.half.glif</string>
  <key>u11D7F_u11D8A</key>
  <string>u11D_7F__u11D_8A_.glif</string>
  <key>u11D7F_u11D8B</key>
  <string>u11D_7F__u11D_8B_.glif</string>
  <key>u11D80</key>
  <string>u11D_80.glif</string>
  <key>u11D80.half</key>
  <string>u11D_80.half.glif</string>
  <key>u11D80_u11D8A</key>
  <string>u11D_80_u11D_8A_.glif</string>
  <key>u11D80_u11D8B</key>
  <string>u11D_80_u11D_8B_.glif</string>
  <key>u11D81</key>
  <string>u11D_81.glif</string>
  <key>u11D81.half</key>
  <string>u11D_81.half.glif</string>
  <key>u11D81_u11D8A</key>
  <string>u11D_81_u11D_8A_.glif</string>
  <key>u11D81_u11D8B</key>
  <string>u11D_81_u11D_8B_.glif</string>
  <key>u11D82</key>
  <string>u11D_82.glif</string>
  <key>u11D82.half</key>
  <string>u11D_82.half.glif</string>
  <key>u11D82_u11D8A</key>
  <string>u11D_82_u11D_8A_.glif</string>
  <key>u11D82_u11D8B</key>
  <string>u11D_82_u11D_8B_.glif</string>
  <key>u11D83</key>
  <string>u11D_83.glif</string>
  <key>u11D83.half</key>
  <string>u11D_83.half.glif</string>
  <key>u11D83_u11D8A</key>
  <string>u11D_83_u11D_8A_.glif</string>
  <key>u11D83_u11D8B</key>
  <string>u11D_83_u11D_8B_.glif</string>
  <key>u11D84</key>
  <string>u11D_84.glif</string>
  <key>u11D84.dot</key>
  <string>u11D_84.dot.glif</string>
  <key>u11D84.half</key>
  <string>u11D_84.half.glif</string>
  <key>u11D84.half.dot</key>
  <string>u11D_84.half.dot.glif</string>
  <key>u11D84_u11D8A</key>
  <string>u11D_84_u11D_8A_.glif</string>
  <key>u11D84_u11D8B</key>
  <string>u11D_84_u11D_8B_.glif</string>
  <key>u11D85</key>
  <string>u11D_85.glif</string>
  <key>u11D85.half</key>
  <string>u11D_85.half.glif</string>
  <key>u11D85_u11D8A</key>
  <string>u11D_85_u11D_8A_.glif</string>
  <key>u11D85_u11D8B</key>
  <string>u11D_85_u11D_8B_.glif</string>
  <key>u11D86</key>
  <string>u11D_86.glif</string>
  <key>u11D86.half</key>
  <string>u11D_86.half.glif</string>
  <key>u11D86_u11D8A</key>
  <string>u11D_86_u11D_8A_.glif</string>
  <key>u11D86_u11D8B</key>
  <string>u11D_86_u11D_8B_.glif</string>
  <key>u11D87</key>
  <string>u11D_87.glif</string>
  <key>u11D87.half</key>
  <string>u11D_87.half.glif</string>
  <key>u11D87_u11D8A</key>
  <string>u11D_87_u11D_8A_.glif</string>
  <key>u11D87_u11D8B</key>
  <string>u11D_87_u11D_8B_.glif</string>
  <key>u11D88</key>
  <string>u11D_88.glif</string>
  <key>u11D88.dot</key>
  <string>u11D_88.dot.glif</string>
  <key>u11D88.half</key>
  <string>u11D_88.half.glif</string>
  <key>u11D88.half.dot</key>
  <string>u11D_88.half.dot.glif</string>
  <key>u11D88_u11D8A</key>
  <string>u11D_88_u11D_8A_.glif</string>
  <key>u11D88_u11D8B</key>
  <string>u11D_88_u11D_8B_.glif</string>
  <key>u11D88_u11D8D.dot</key>
  <string>u11D_88_u11D_8D_.dot.glif</string>
  <key>u11D88_u11D8E.dot</key>
  <string>u11D_88_u11D_8E_.dot.glif</string>
  <key>u11D89</key>
  <string>u11D_89.glif</string>
  <key>u11D89.2dots</key>
  <string>u11D_89.2dots.glif</string>
  <key>u11D89.dot</key>
  <string>u11D_89.dot.glif</string>
  <key>u11D89.half</key>
  <string>u11D_89.half.glif</string>
  <key>u11D89.half.2dots</key>
  <string>u11D_89.half.2dots.glif</string>
  <key>u11D89.half.dot</key>
  <string>u11D_89.half.dot.glif</string>
  <key>u11D89_u11D8A</key>
  <string>u11D_89_u11D_8A_.glif</string>
  <key>u11D89_u11D8B</key>
  <string>u11D_89_u11D_8B_.glif</string>
  <key>u11D8A</key>
  <string>u11D_8A_.glif</string>
  <key>u11D8B</key>
  <string>u11D_8B_.glif</string>
  <key>u11D8B.short</key>
  <string>u11D_8B_.short.glif</string>
  <key>u11D8C</key>
  <string>u11D_8C_.glif</string>
  <key>u11D8C_u11D95</key>
  <string>u11D_8C__u11D_95.glif</string>
  <key>u11D8D</key>
  <string>u11D_8D_.glif</string>
  <key>u11D8E</key>
  <string>u11D_8E_.glif</string>
  <key>u11D90</key>
  <string>u11D_90.glif</string>
  <key>u11D90.short</key>
  <string>u11D_90.short.glif</string>
  <key>u11D90_u11D95</key>
  <string>u11D_90_u11D_95.glif</string>
  <key>u11D90_u11D95.short</key>
  <string>u11D_90_u11D_95.short.glif</string>
  <key>u11D91</key>
  <string>u11D_91.glif</string>
  <key>u11D91_u11D95</key>
  <string>u11D_91_u11D_95.glif</string>
  <key>u11D93</key>
  <string>u11D_93.glif</string>
  <key>u11D93.short</key>
  <string>u11D_93.short.glif</string>
  <key>u11D93_u11D95.short</key>
  <string>u11D_93_u11D_95.short.glif</string>
  <key>u11D94</key>
  <string>u11D_94.glif</string>
  <key>u11D95</key>
  <string>u11D_95.glif</string>
  <key>u11D96</key>
  <string>u11D_96.glif</string>
  <key>u11D97</key>
  <string>u11D_97.glif</string>
  <key>u11D97.alt</key>
  <string>u11D_97.alt.glif</string>
  <key>u11D98</key>
  <string>u11D_98.glif</string>
  <key>u11DA0</key>
  <string>u11D_A_0.glif</string>
  <key>u11DA1</key>
  <string>u11D_A_1.glif</string>
  <key>u11DA2</key>
  <string>u11D_A_2.glif</string>
  <key>u11DA3</key>
  <string>u11D_A_3.glif</string>
  <key>u11DA4</key>
  <string>u11D_A_4.glif</string>
  <key>u11DA5</key>
  <string>u11D_A_5.glif</string>
  <key>u11DA6</key>
  <string>u11D_A_6.glif</string>
  <key>u11DA7</key>
  <string>u11D_A_7.glif</string>
  <key>u11DA8</key>
  <string>u11D_A_8.glif</string>
  <key>u11DA9</key>
  <string>u11D_A_9.glif</string>
  <key>u201C</key>
  <string>u201C_.glif</string>
  <key>u201D</key>
  <string>u201D_.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni0970</key>
  <string>uni0970.glif</string>
  <key>uni200C</key>
  <string>uni200C_.glif</string>
  <key>uni200D</key>
  <string>uni200D_.glif</string>
  <key>uni20A8</key>
  <string>uni20A_8.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
