<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <false/>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>multiply</string>
    <string>divide</string>
    <string>u0964</string>
    <string>u0965</string>
    <string>uni0970</string>
    <string>uni200C</string>
    <string>uni200C.visable</string>
    <string>uni200D</string>
    <string>uni200D.visable</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>u201C</string>
    <string>u201D</string>
    <string>uni20A8</string>
    <string>minus</string>
    <string>uni25CC</string>
    <string>u11D60</string>
    <string>u11D60.chandrabindu</string>
    <string>u11D61</string>
    <string>u11D62</string>
    <string>u11D63</string>
    <string>u11D64</string>
    <string>u11D65</string>
    <string>u11D67</string>
    <string>u11D67.short</string>
    <string>u11D68</string>
    <string>u11D6A</string>
    <string>u11D6A.short</string>
    <string>u11D6B</string>
    <string>u11D6C</string>
    <string>u11D6C.half</string>
    <string>u11D6C_u11D8A</string>
    <string>u11D6C_u11D8B</string>
    <string>u11D6D</string>
    <string>u11D6D.half</string>
    <string>u11D6D_u11D8A</string>
    <string>u11D6D_u11D8B</string>
    <string>u11D6E</string>
    <string>u11D6E.half</string>
    <string>u11D6E_u11D8A</string>
    <string>u11D6E_u11D8B</string>
    <string>u11D6F</string>
    <string>u11D6F.half</string>
    <string>u11D6F_u11D8A</string>
    <string>u11D6F_u11D8B</string>
    <string>u11D70</string>
    <string>u11D70.half</string>
    <string>u11D70_u11D8A</string>
    <string>u11D70_u11D8B</string>
    <string>u11D71</string>
    <string>u11D71.half</string>
    <string>u11D71_u11D8A</string>
    <string>u11D71_u11D8B</string>
    <string>u11D71_u11D97_u11D81</string>
    <string>u11D71_u11D97_u11D89</string>
    <string>u11D72</string>
    <string>u11D72.half</string>
    <string>u11D72_u11D8A</string>
    <string>u11D72_u11D8B</string>
    <string>u11D73</string>
    <string>u11D73.half</string>
    <string>u11D73_u11D8A</string>
    <string>u11D73_u11D8B</string>
    <string>u11D74</string>
    <string>u11D74.half</string>
    <string>u11D74_u11D8A</string>
    <string>u11D74_u11D8B</string>
    <string>u11D75</string>
    <string>u11D75.dot</string>
    <string>u11D75.half</string>
    <string>u11D75.half.dot</string>
    <string>u11D75_u11D8A</string>
    <string>u11D75_u11D8B</string>
    <string>u11D76</string>
    <string>u11D76.half</string>
    <string>u11D76_u11D8A</string>
    <string>u11D76_u11D8B</string>
    <string>u11D77</string>
    <string>u11D77.half</string>
    <string>u11D77_u11D8A</string>
    <string>u11D77_u11D8B</string>
    <string>u11D78</string>
    <string>u11D78.half</string>
    <string>u11D78_u11D8A</string>
    <string>u11D78_u11D8B</string>
    <string>u11D79</string>
    <string>u11D79.half</string>
    <string>u11D79_u11D8A</string>
    <string>u11D79_u11D8B</string>
    <string>u11D7A</string>
    <string>u11D7A.half</string>
    <string>u11D7A_u11D8A</string>
    <string>u11D7A_u11D8B</string>
    <string>u11D7B</string>
    <string>u11D7B.half</string>
    <string>u11D7B_u11D8A</string>
    <string>u11D7B_u11D8B</string>
    <string>u11D7C</string>
    <string>u11D7C.half</string>
    <string>u11D7C_u11D8A</string>
    <string>u11D7C_u11D8B</string>
    <string>u11D7D</string>
    <string>u11D7D.half</string>
    <string>u11D7D_u11D8A</string>
    <string>u11D7D_u11D8B</string>
    <string>u11D7E</string>
    <string>u11D7E.half</string>
    <string>u11D7E_u11D8A</string>
    <string>u11D7E_u11D8B</string>
    <string>u11D7F</string>
    <string>u11D7F.half</string>
    <string>u11D7F_u11D8A</string>
    <string>u11D7F_u11D8B</string>
    <string>u11D80</string>
    <string>u11D80.half</string>
    <string>u11D80_u11D8A</string>
    <string>u11D80_u11D8B</string>
    <string>u11D81</string>
    <string>u11D81.half</string>
    <string>u11D81_u11D8A</string>
    <string>u11D81_u11D8B</string>
    <string>u11D82</string>
    <string>u11D82.half</string>
    <string>u11D82_u11D8A</string>
    <string>u11D82_u11D8B</string>
    <string>u11D83</string>
    <string>u11D83.half</string>
    <string>u11D83_u11D8A</string>
    <string>u11D83_u11D8B</string>
    <string>u11D84</string>
    <string>u11D84.dot</string>
    <string>u11D84.half</string>
    <string>u11D84.half.dot</string>
    <string>u11D84_u11D8A</string>
    <string>u11D84_u11D8B</string>
    <string>u11D85</string>
    <string>u11D85.half</string>
    <string>u11D85_u11D8A</string>
    <string>u11D85_u11D8B</string>
    <string>u11D86</string>
    <string>u11D86.half</string>
    <string>u11D86_u11D8A</string>
    <string>u11D86_u11D8B</string>
    <string>u11D87</string>
    <string>u11D87.half</string>
    <string>u11D87_u11D8A</string>
    <string>u11D87_u11D8B</string>
    <string>u11D88</string>
    <string>u11D88.dot</string>
    <string>u11D88.half</string>
    <string>u11D88.half.dot</string>
    <string>u11D88_u11D8A</string>
    <string>u11D88_u11D8B</string>
    <string>u11D88_u11D8D.dot</string>
    <string>u11D88_u11D8E.dot</string>
    <string>u11D89</string>
    <string>u11D89.2dots</string>
    <string>u11D89.dot</string>
    <string>u11D89.half</string>
    <string>u11D89.half.2dots</string>
    <string>u11D89.half.dot</string>
    <string>u11D89_u11D8A</string>
    <string>u11D89_u11D8B</string>
    <string>u11D8A</string>
    <string>u11D8B</string>
    <string>u11D8B.short</string>
    <string>u11D8C</string>
    <string>u11D8C_u11D95</string>
    <string>u11D8D</string>
    <string>u11D8E</string>
    <string>u11D90</string>
    <string>u11D90.short</string>
    <string>u11D90_u11D95</string>
    <string>u11D90_u11D95.short</string>
    <string>u11D91</string>
    <string>u11D91_u11D95</string>
    <string>u11D93</string>
    <string>u11D93.short</string>
    <string>u11D93_u11D95.short</string>
    <string>u11D94</string>
    <string>u11D95</string>
    <string>u11D96</string>
    <string>u11D97</string>
    <string>u11D97.alt</string>
    <string>u11D98</string>
    <string>u11DA0</string>
    <string>u11DA1</string>
    <string>u11DA2</string>
    <string>u11DA3</string>
    <string>u11DA4</string>
    <string>u11DA5</string>
    <string>u11DA6</string>
    <string>u11DA7</string>
    <string>u11DA8</string>
    <string>u11DA9</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>u0964</key>
    <string>uni0964</string>
    <key>u0965</key>
    <string>uni0965</string>
    <key>u201C</key>
    <string>uni201C</string>
    <key>u201D</key>
    <string>uni201D</string>
  </dict>
</dict>
</plist>
